<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello, world!</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <main class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">회원 기능</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/members/new">회원 가입</a>
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/members">회원 목록</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">상품 기능</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/items/new">상품 등록</a>
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/items">상품 목록</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">주문 기능</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/order">상품 주문</a>
                            <a class="w-100 btn btn-lg btn-outline-secondary" href="/orders">주문 내역</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </main>

</body>
</html>